h1 {
  font-size: 50px;
  text-align: center;
}

body {
  align-items: center;
}

button {
  background-color: cyan;
  background-image: "../images/rick.jpg";
  text-align: center;
  padding: 15px 20px;
  border-radius: 15px;
}
